.Row {
  display: grid;
  grid-template-columns: [postId]60px [id]60px [name]100px [email]100px [body]auto;
  margin: 4px 10px 0 10px;
  border: 1px solid green;
  border-radius: 4px;
  align-items: center;
  background-color: blanchedalmond;

  cursor: pointer;
}

.Cell {
  text-align: center;
  word-wrap: break-word;
  padding: 5px;
  margin: 1px;
}

.Resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  cursor: ew-resize;
  height: 100%;
}

.Row.ChosenRow {
  background-color: rgba(255, 0, 0, 0.3);

  padding-left: 4px;
  padding-bottom: 4px;
}

.DeleteButton {
  width: 75px;
  height: 25px;
  background-color: blanchedalmond;
  border: 1px solid rgba(255, 0, 0, 0.8);
  border-radius: 4px;
  cursor: pointer;
}
